@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@theme {
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;

  /* brand */
  --color-brand-primary: #5189fa;
  --color-brand-secondary: #eef3ff;
  --color-brand-tertiary: #315296;

  /* point */
  --color-point-purple: #a855f7;
  --color-point-cyan: #06b6d4;
  --color-point-pink: #ec4899;
  --color-point-rose: #f43f5e;
  --color-point-orange: #f97316;
  --color-point-yellow: #eab308;

  /* background */
  --color-background-primary: #ffffff;
  --color-background-secondary: #f1f5f9;
  --color-background-tertiary: #e2e8f0;

  /* interaction */
  --color-interaction-inactive: #94a3b8;
  --color-interaction-hover: #416ec8;
  --color-interaction-pressed: #3b63b5;

  /* border */
  --color-border-primary: rgb(248 250 252 / 50%);

  /* text */
  --color-text-primary: #1e293b;
  --color-text-secondary: #334155;
  --color-text-tertiary: #0f172a;
  --color-text-default: #64748b;
  --color-text-inverse: #ffffff;
  --color-text-disabled: #94a3b8;

  /* status */
  --color-status-danger: #fc4b4b;

  /* icon */
  --color-icon-primary: #64748b;
  --color-icon-inverse: #f8fafc;
  --color-icon-brand: #74a1fb;
}

@layer utilities {
  .text-4xl-m {
    @apply text-[40px] leading-12 font-medium;
  }
  .text-3xl-b {
    @apply text-[32px] leading-[38px] font-bold;
  }
  .text-3xl-s {
    @apply text-[32px] leading-[38px] font-semibold;
  }
  .text-2xl-b {
    @apply text-2xl leading-7 font-bold;
  }
  .text-2xl-s {
    @apply text-2xl leading-7 font-semibold;
  }
  .text-2xl-m {
    @apply text-2xl leading-7 font-medium;
  }
  .text-2xl-r {
    @apply text-2xl leading-7 font-normal;
  }
  .text-xl-b {
    @apply text-xl leading-6 font-bold;
  }
  .text-xl-s {
    @apply text-xl leading-6 font-semibold;
  }
  .text-xl-m {
    @apply text-xl leading-6 font-medium;
  }
  .text-xl-r {
    @apply text-xl leading-6 font-normal;
  }
  .text-2lg-b {
    @apply text-[18px] leading-[21px] font-bold;
  }
  .text-2lg-s {
    @apply text-[18px] leading-[21px] font-semibold;
  }
  .text-2lg-m {
    @apply text-[18px] leading-[21px] font-medium;
  }
  .text-2lg-r {
    @apply text-[18px] leading-[21px] font-normal;
  }
  .text-lg-b {
    @apply text-base leading-[19px] font-bold;
  }
  .text-lg-s {
    @apply text-base leading-[19px] font-semibold;
  }
  .text-lg-m {
    @apply text-base leading-[19px] font-medium;
  }
  .text-lg-r {
    @apply text-base leading-[19px] font-normal;
  }
  .text-md-b {
    @apply text-sm leading-[17px] font-bold;
  }
  .text-md-s {
    @apply text-sm leading-[17px] font-semibold;
  }
  .text-md-m {
    @apply text-sm leading-[17px] font-medium;
  }
  .text-md-r {
    @apply text-sm leading-[17px] font-normal;
  }
  .text-sm-s {
    @apply text-[13px] leading-4 font-semibold;
  }
  .text-sm-m {
    @apply text-[13px] leading-4 font-medium;
  }
  .text-xs-s {
    @apply text-xs leading-3.5 font-semibold;
  }
  .text-xs-m {
    @apply text-xs leading-3.5 font-medium;
  }
  .text-xs-r {
    @apply text-xs leading-3.5 font-normal;
  }
}
